//  ___________________________________________________Left-box__________________________________________________________________
$content-background-color: rgba(0, 0, 0, 0.46);

//  ___________________________________________________Textarea__________________________________________________________________
$textarea-background-color: hsl(0, 0%, 95%);
$textarea-box-shadow-inset: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.5);

//  ___________________________________________________Button____________________________________________________________________
$button-background-color: hsl(300, 100%, 35%);
$button-box-shadow-and-inset: 1px 1px 1px #00000060, inset 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
$button-hover: hsl(300, 100%, 45%);
$button-hover-box-shadow-inset: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
$button-active: hsl(300, 100%, 25%);
$button-color: #fff;

//  ___________________________________________________Output____________________________________________________________________
$output-background-color: rgba(0, 0, 0, 0.56);

//  ___________________________________________________Item______________________________________________________________________
$item-border-bottom: rgba(255, 255, 255, 0.250);

//  ___________________________________________________BtnDone___________________________________________________________________
$btnDone-background-color: hsl(87, 81%, 31%);
$btnDone-box-shadow-and-inset: 1px 1px 1px #00000060, inset 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
$btnDone-hover: hsl(87, 81%, 41%);
$btnDone-hover-box-shadow-inset: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
$btnDone-active: hsl(87, 81%, 21%);

//  ___________________________________________________BtnUndo___________________________________________________________________
$btnUndo-background-color: hsl(39, 100%, 40%);
$btnUndo-box-shadow-and-inset: 1px 1px 1px #00000060, inset 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
$btnUndo-hover: hsl(39, 100%, 50%);
$btnUndo-hover-box-shadow-inset: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
$btnUndo-active: hsl(39, 100%, 30%);

//  ___________________________________________________BtnDelete_________________________________________________________________
$btnDelete-background-color: hsl(0, 100%, 40%);
$btnDelete-box-shadow-and-inset: 1px 1px 1px #00000060, inset 1px 1px 1px 0px rgba(255, 255, 255, 0.5);
$btnDelete-hover: hsl(0, 100%, 50%);
$btnDelete-hover-box-shadow-inset: inset 2px 2px 1px 0px rgba(0, 0, 0, 0.5), inset 0px 0px 1px 1px rgba(255, 255, 255, 0.5);
$btnDelete-active: hsl(0, 100%, 30%);

//  ___________________________________________________BtnStyle__________________________________________________________________
$btnStyle-color: #fff;

//  ___________________________________________________Line-over_________________________________________________________________
$line-over-text-decoration-color: hsl(87, 81%, 41%);

//  ___________________________________________________Modal_____________________________________________________________________
$modal-background-color: #00000080;

//  ___________________________________________________Modal-content_____________________________________________________________
$modal-content-background-color: #303030;
$modal-content-border: #ff0000;
$modal-content-color: #fff;

//  ___________________________________________________Close-button______________________________________________________________
$close-button-color: #aaa;
$close-button-hover-focus: #fff;