* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    @include flex(row, center, center);
    @include size(100%, 100vh);
    @include background-image(url('images/space.jpg'));
    min-height: 100vh;
    color: #fff;
}

main {
    @include flex(row, center, center);
}