.wrapper {
    @include flex(row, center, center);
    @include size(39vw, 100vh);
    min-width: 720px;

    .left-box {
        @include flex(column, center, center);
        @include size(50%, 50%);
        border-radius: 1rem 0 0 1rem;
        background-color: $content-background-color;
        overflow: auto;
        padding: 2.3rem;

        
        form {
            @include flex(column, space-between, center);
            @include size(100%, 100%,);
            
            header {
                @include flex(row, center, center);
                font-size: 0.9rem;
            }

            .textarea-wrapper {
                @include flex(row, center, center);
                width: 100%;
                margin: 0.5rem 0 1rem 0;

                textarea {
                    border: 0;
                    border-radius: 1rem;
                    padding: 0.5rem;
                    font-size: 1rem;
                    resize: none;
                    outline: none;
                    background-color: $textarea-background-color;
                    box-shadow: $textarea-box-shadow-inset;
                }
                textarea::-webkit-scrollbar-track {
                    background-color: transparent;
                    margin-top: 2rem;
                }
                textarea::-webkit-scrollbar {
                    width: 6px;
                    background-color: transparent;
                }
                textarea::-webkit-scrollbar-thumb {
                    background-color: #0000007d;
                    border-radius: 4px;
                }
                textarea::-webkit-scrollbar-corner {
                    background-color: transparent;
                }
            }
            
            .button-wrapper {
                @include flex(row, center, center);
                width: 100%;

                button {
                    min-width: 100%;
                    margin: 0 0 0.5rem 0;
                    padding: 0.3rem 1.4rem;
                    border: 0;
                    border-radius: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    background-color: $button-background-color;
                    box-shadow: $button-box-shadow-and-inset;
                    color: $button-color;
                    transition: all 200ms ease-out;
                    cursor: pointer;
        
                    &:hover {
                        background-color: $button-hover;
                        box-shadow: $button-hover-box-shadow-inset;
                    }
                    &:active {
                        background-color: $button-active;
                    }
                }
            }
        }
    }
    
    .right-box {
        @include size(80%, 50%);
        border-radius: 0 1rem 1rem 0;
        overflow: hidden;
        
        .output {
            height: 50vh;
            overflow: auto;
            background-color: $output-background-color;

            .item {
                text-decoration: underline;
                margin: 0.1rem;
                padding: 0.2rem 1rem;
                border-bottom: 1px solid $item-border-bottom;

                .btnDone {
                    background-color: $btnDone-background-color;
                    box-shadow: $btnDone-box-shadow-and-inset;
    
                    &:hover {
                        background-color: $btnDone-hover;
                        box-shadow: $btnDone-hover-box-shadow-inset;
                    }
                    &:active {
                        background-color: $btnDone-active;
                    }
                }
                
                .btnUndo {
                    background-color: $btnUndo-background-color;
                    box-shadow: $btnUndo-box-shadow-and-inset;
    
                    &:hover {
                        background-color: $btnUndo-hover;
                        box-shadow: $btnUndo-hover-box-shadow-inset;
                    }
                    &:active {
                        background-color: $btnUndo-active;
                    }
                }

                .btnDelete {
                    background-color: $btnDelete-background-color;
                    box-shadow: $btnDelete-box-shadow-and-inset;
    
                    &:hover {
                        background-color: $btnDelete-hover;
                        box-shadow: $btnDelete-hover-box-shadow-inset;
                    }
                    &:active {
                        background-color: $btnDelete-active;
                    }
                }

                .btnStyle {
                    margin: 0.4rem 0 0.4rem 3rem;
                    padding: 0.2rem 1.4rem;
                    border: 0;
                    border-radius: 1rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    color: $btnStyle-color;
                    transition: all 200ms ease-out;
                    cursor: pointer;
                }

                .line-over {
                    text-decoration-line: line-through;
                    text-decoration-thickness: 0.3rem;
                    text-decoration-color: $line-over-text-decoration-color;
                }
            }
        }
        .output::-webkit-scrollbar-track {
            background-color: transparent;
            margin-top: 2rem;
        }
        .output::-webkit-scrollbar {
            width: 6px;
            background-color: transparent;
        }
        .output::-webkit-scrollbar-thumb {
            background-color: #0000007d;
            border-radius: 4px;
        }
        .output::-webkit-scrollbar-corner {
            background-color: transparent;
        }
    }
}

.modal {
    @include size(100%, 100%);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: auto;
    background-color: $modal-background-color;
    display: none;

    .modal-content {
        @include size(30%, 25%);
        position: relative;
        margin: 18% auto;
        padding: 5rem;
        border: 3px solid $modal-content-border;
        border-radius: 1rem;
        font-size: 2rem;
        text-align: center;
        background-color: $modal-content-background-color;
        color: $modal-content-color;

        .close-button {
            position: relative;
            float: right;
            bottom: 4.8rem;
            left: 4rem;
            font-size: 1.7rem;
            font-weight: 600;
            color: $close-button-color;

            &:hover, &:focus {
                text-decoration: none;
                color: $close-button-hover-focus;
                cursor: pointer;
            }
        }
    }
}